<footer>
    <div class="footer-container">
        <div class="container-primario">
            <h3>Sobre a Pixel Gallery</h3>
            <p id="sobre">Compartilhe suas obras, transformando a arte em cada pixel.</p>
        </div>

        <div class="container-secundario">
            <h3>Links</h3>
            <ul class="links">
                <li><a routerLink="/">Início</a></li>
                <li><a routerLink="/usuarios">Usuários</a></li>
                <li><a routerLink="/sobre">Sobre</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-container-secundario">
        <h3>Pixel Gallery - Sua galeria, sua criatividade pixelada.</h3>
        <p><span>Pixel Gallery </span>&copy; 2024.</p>
        <p>Desenvolvido por Clara Joaquim</p>
    </div>
</footer>